.grid-area{
    display: grid;
    height: 100vh;
    grid-template-rows: 66.6% 33.3%;
    grid-template-columns: 100%;
    text-align: center;
}

.top-area {
    grid-row: 1;
    grid-column: 1;
}

.bottom-area{
    grid-row: 2;
    grid-column: 1;
}