body {
    background-image: url("mori2.png");
    background-size: contain;
    font-family: "Nico Moji";
}

.grid-area{
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 60% 30%;
    grid-template-columns: 100%;
    text-align: center;
    
}

.backsite {
    text-align: left;
    grid-row: 1;
    grid-column: 1;
}

.BattleFielde{
    grid-row: 2;
    grid-column: 1;
}

.mainGame{
    grid-row: 3;
    grid-column: 1;
}